<div class="full-navbar">
    <div class="navbar">
        <div class="navbar-container">
        <div class="navbar-logo">
            <span>
                <img src="../../../../assets/images/logo.png" alt="">
            </span>
            WePay
        </div>
        <ul class="navbar-links">
            <li><a [href]="startUrl + ''" [ngClass]="{'active': selectedTab === '/'}">Home</a></li>
            <li><a [href]="startUrl + ''" [ngClass]="{'active': selectedTab === '/services'}">Services</a></li>
        </ul>
        
        <button *ngIf="user.id == 0" class="navbar-button" (click)="goToLogin()"><i class="bi bi-person" style="margin-right: 5px;"></i>Log in</button>
        <div *ngIf="user.id != 0" class="account-image">
                <div class="icon-images" (click)="showMenu()">
                    <i class="bi bi-person-square"></i>
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <div *ngIf="dropdownOpen" class="dropdown-menu" (click)="goToMyProfile()">
                    <div class="menu-item">
                        <i class="bi bi-person-square"></i>
                        <p>My profile</p>
                    </div>
                    <div class="menu-item" (click)="onLogout()">
                        <i class="bi bi-box-arrow-in-left"></i>
                        <p>Log out</p>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
  