*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-navbar{
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.navbar-logo {
    font-size: 1.8rem;
    color: #ffffff;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar-logo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s, text-shadow 0.3s;
}

.navbar-links a:hover {
    color: var(--primary-color);
}

.navbar-links a.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 4px;
    text-underline-offset: 7px;
}

.navbar-button {
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-family: "Poppins" sans-serif;
    margin-left: 20px;
}

.navbar-button:hover {
    background-color: var(--secondary-hover-color);
}


.account-image{
    display: flex;
    flex-direction: row;
    padding: 5px;
    position: relative;
}


.icon-images{
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 1.4rem;
    color: white;
    gap: 5px;
}

.icon-images:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 20%;
    width: 60px;
    height: auto;
    padding: 5px;
}

.menu-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    padding: 15px 10px;
    gap: 5px;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 10px;
}

.menu-item:hover{
    background-color: var(--primary-hover-color);
}

