<div class="full-navbar">
    <div class="navbar">
        <div class="navbar-container">
        <div class="navbar-logo">
            <span>
                <img src="../../../../assets/images/logo.png" alt="">
            </span>
            WePay
        </div>
        <ul class="navbar-links">
            <li><a [href]="startUrl + ''" [ngClass]="{'active': selectedTab === '/'}">Home</a></li>
            <li><a [href]="startUrl + ''" [ngClass]="{'active': selectedTab === '/services'}">Services</a></li>
        </ul>
        
        <button class="navbar-button" (click)="goToLogin()"><i class="bi bi-person" style="margin-right: 5px;"></i>Log in</button>
        </div>
    </div>
</div>
  