.full-page{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80dvh;
    margin: auto;
    overflow-y: auto;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.full-page h1{
    font-size: 30px;
    font-weight: 600;
}

.psp-service{
    display: flex;
    padding: 50px 80px;
    border-radius: 22px;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 80%;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary-color);
}

.psp-service:hover{
    background-color: var(--border-light-color);
    transition: 0.3s;
    box-shadow:  2px 2px 4px rgba(112, 112, 112, 0.8);
    border: 2px solid var(--primary-color);
}