.full-page{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  overflow-y: auto;
}

.row-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  width: 50%;
  padding: 30px;
}

.left-side h1{
  max-width: 80%;
  color: white;
  margin-right: 20%;
  font-size: 70px;
  font-weight: 700;
}


.highlight{
  color: var(--primary-color);
}

.right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90dvh;
  padding: 20px;
}


.about-us-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}


.about-us-section .container {
  width: 100%;
  padding: 20px;
  text-align: justify;
}

.about-us-section h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

.about-us-section h2 {
  font-size: 28px;
  color: white;
  margin-top: 30px;
}

.about-us-section p {
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 15px;
}

.about-us-section ul {
  text-align: left;
  margin: 20px 0;
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
}

.about-us-section li {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-color);
}

.about-us-section li::marker{
  color: var(--primary-color)
}

.about-us-section .services {
  width: 100%;
  padding: 20px;
  text-align: justify;
}

.about-us-section h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

.row-services{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.one-service{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 4px solid var(--border-light-color);
  width: 30%;
  height: 260px;
  border-radius: 28px;
}

.one-service h2{
  color: black;
  font-size: 22px;
  font-weight: 600;
}

.one-service img{
  width: 160px;
  height: 160px;
}
