<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted"
>
  
    <!-- Section: Links  -->
    <section class="" style="background-color: #007bb5; color: #f0f0f0;">
      <div class="container text-center text-md-start pt-3">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="mb-4" style="font-family: 'Pacifico', cursive; font-size: 1.5rem; font-weight: bold;">
              <i class="fas fa-gem me-3"></i>VivoNet.
            </h6>
            <p>
                Your trusted telecommunications partner, providing reliable connectivity and innovative solutions to keep you connected.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Services
            </h6>
            <p class="link-name">
              <a href="#!" class="text-reset">Mobile</a>
            </p>
            <p class="link-name">
              <a href="#!" class="text-reset">Landline</a>
            </p>
            <p class="link-name">
              <a href="#!" class="text-reset">Internet</a>
            </p>
            <p class="link-name">
              <a href="#!" class="text-reset">TV</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p class="link-name">
              <a href="#!" class="text-reset">About us</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              vivonet$#64example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
           <!-- Grid column -->
          <div class="col-md-5 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Social Networks
            </h6>
            <div>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f link-name"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-twitter link-name"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-google link-name"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram link-name"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin link-name"></i>
                </a>
              </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <div class="text-center p-2" style="background-color: var(--primary-color); color: white;">
      <p class="text-reset" style="margin: 0; padding: 0;">© 2024 Copyright: <b>VivoNet.</b></p>
    </div>
</footer>
